<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Normal debug log appender -->
    <appender name="debug" class="ch.qos.logback.core.FileAppender">
        <file>debug.log</file>

        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="enrolls" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>Enrolls.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>Enrolls-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <rollingStyle>Size</rollingStyle>
            <maxRollBackups>5</maxRollBackups>
        </rollingPolicy>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="debug"/>
    </root>

    <logger name="com.djordjije11.libraryappapi.service.enroll">
        <level value="ALL"/>
        <appender-ref ref="enrolls"/>
    </logger>

</configuration>